<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm sm:pl-6">
    <div class="flex items-center">
      <div class="ml-2">
        <div class="font-medium text-gray-900"><%= student.name %></div>
        <% if student.user.email %>
          <div class="text-gray-500"><%= student.user.email %></div>
        <% end %>
      </div>
    </div>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <div class="text-gray-900">Front-end Developer</div>
    <div class="text-gray-500">Optimization</div>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
    <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">Active</span>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Member</td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <a href="#" class="text-violet-600 hover:text-violet-900">Edit<span class="sr-only">, Lindsay Walton</span></a>
  </td>
</tr>
