<div class="flex flex-col max-w-6xl">
  <div>
    <h1>Students</h1>
    <%#= link_to 'New Student', new_student_profile_path, class: "btn btn-primary inline-block" %>
  </div>
  <div class="grid grid-cols-3 gap-6">
    <% @student_profiles.each do |student_profile| %>
      <div class="border border-gray-300 rounded-md mt-12 py-4 px-4 col-span-1">
        <div>
          <h3><%=student_profile.name%></h3>
          <div class="ml-4">
            <p class= "text-gray-500"><%=student_profile.cohorts.count%> cohorts</p>
            <p class="text-gray-500"><%=student_profile.courses.count%> courses</p>
          </div>
        </div>
        <div class="flex mt-12">
          <%= link_to "View", student_profile_path(student_profile), class: 'btn btn-primary'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
