 
<h1 >Welcome to Instruments#index</h1>
<div>
  <%= link_to 'New Instrument', new_instrument_path, class: "btn btn-primary " %>
</div>
<% @instruments.each do |instrument| %>
  <div>
    <p>
      <%= instrument.title %>
    </p>
    <%= link_to 'view', instrument_path(instrument) %>
  </div>
<% end %>
